@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
        transition: color .15s ease;
    }
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);
/* ---VARIABLES--- */

$black_background: rgb( 25, 25, 25);
$white_links: whitesmoke;
$blue_highlights: rgb( 68, 151, 200);
$gray_regfont: rgb( 69, 90, 100);
$yellow_buttons: rgb( 238, 191, 43);
$main_font: 'Lora', serif;
$sec_font: 'Oxygen', sans-serif;
/**
 * GENERAL
 */

html {
    height: 100%;
    margin: 0 auto;
}
body {
    min-height: 100%;
    transition: opacity .25s ease;
}
.container {
    position: relative;
    display: block;
    font-size: 0;
    width: 100%;
    & > * {
        display: inline-block;
        font-size: medium;
        vertical-align: top;
    }
    & > .left {
        display: inline-block;
        width: 25%;
    }
    & > .right {
        display: inline-block;
        margin-left: 25%;
        width: 68%;
    }
}
.left {
    position: relative;
    // width: 30%;
    background-color: $black_background;
    height: 100vh;
}
.about {
    & > * {
        font-family: $main_font;
        color: $yellow_buttons;
    }
    & > .about-me {
        font-family: $sec_font;
        font-size: .75em;
    }
}
header {
    font-size: 1.5em;
    color: $white_links;
    text-align: center;
    & > img {
        max-width: 50%;
        border-radius: 100%;
        margin: 1em 0 0 .5em;
    }
    & > .social {
        text-align: center;
        & > * {
            margin: 0 1em 1em .5em;
            color: $yellow_buttons;
        }
        & > *:hover {
            border-bottom: 2px solid $yellow_buttons;
            color: $blue_highlights;
        }
    }
}
.title {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        border-bottom: 2px solid $yellow_buttons;
        width: 25%;
        bottom: -.5em;
        left: 0;
        transform: translateX(150%)
    }
}
.clicks {
    font-family: $main_font;
    color: $yellow_buttons;
    & > .links {
        text-align: center;
        & > * {
            display: inline-block;
            margin: 0 1em 1em 0;
            & > * {
                color: $yellow_buttons;
                &:hover {
                    border-bottom: 2px solid $yellow_buttons;
                    color: $blue_highlights;
                } 
            }
        }
    }
}
.right {
    // margin-left: 30%;
    // width: 70%;
    height: 100vh;
}
