@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
        transition: color .15s ease;
    }
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 0 .5em .5em 0;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
// @include gridify(2, 400);
@include gridify(3, 600);

/* ---VARIABLES--- */

$black_background: rgb( 25, 25, 25);
$white_links: whitesmoke;
$blue_highlights: rgb( 68, 151, 200);
$gray_regfont: rgb( 51, 51, 51);
$yellow_buttons: rgb( 238, 191, 43);
$main_font: 'Lora', serif;
$sec_font: 'Oxygen', sans-serif;
/**
 * GENERAL
 */


html {
    margin: 0 auto;
    height: 100%;
}
body {
    transition: opacity .25s ease;
    background-color: $black_background;
    height: 100%;
}
.container {
    position: relative;
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%;
    // min-height: 100vh;
    & > * {
        display: inline-block;
        font-size: medium;
        vertical-align: top;
    }
}
.left {
    position: fixed;
    width: 30%;
    background-color: $black_background;
    height: 100%;
    box-shadow: 0px 1px 10px #222;
    animation: slideFromLeft 1s ease;
}

.about {
    & > * {
        font-family: $main_font;
        color: $white_links;
    }
    & > .about-me {
        font-family: $sec_font;
        font-size: medium !important;
    }
}
header {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    & > a img {
        max-width: 50%;
        border-radius: 100%;
        margin: 3em 0 0 .5em;
        border: 1px solid $yellow_buttons;
        &:hover {
            border: 1px solid $blue_highlights;
        }
    }
    & > .social {
        text-align: center;
        margin-top: 1rem;
        & > * {
            margin: 0 1em 1em .5em;
            color: $yellow_buttons;
        }
        & > *:hover {
            color: $blue_highlights;
        }
    }
}
.title {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        border-bottom: 2px solid $yellow_buttons;
        width: 25%;
        bottom: -.5em;
        left: 0;
        transform: translateX(150%)
    }
}
.clicks {
    font-family: $sec_font;
    & > .links {
        text-align: center;
        & > * {
            display: inline-block;
            margin: 1em 1em 1em 0;
            & > * {
                color: $yellow_buttons;
                &:hover {
                    border-bottom: 2px solid $yellow_buttons;
                    color: $blue_highlights;
                } 
            }
        }
    }
}
.projects {
    padding-right: 1em;
    & > i {
        color: $yellow_buttons;
        font-size: 3em;
        padding: .25em;
        // display: inline-block;
    }
    & > .p-title {
        display: inline-block;
        font-size: 3em;
        font-family: $main_font;
        color: $white_links;
    }
    & > .project-container {
        padding-top: 1em;

        & > .aProject {
            font-family: $sec_font;
            padding-bottom: 1em;
            
            & > .info-container {
                position: relative;
                // padding-bottom: 1em;
                & > .p-image {
                    border-radius: 10px;
                    max-width: 100%;
                    // height: 150px;
                    // border: 1px solid $yellow_buttons;
                    box-shadow: 0px 1px 5px #222;
                }
                & > .desc-container {
                    position: absolute;
                    background-color: rgba( 25, 25, 25, .9);
                    bottom: 5px;
                    padding: 1em;
                    border-radius: 0 0 10px 10px;
                    border: 1px solid $yellow_buttons;
                    width: 100%;
                    & > h3 {
                        // padding-top: 1em;
                        color: $white_links;
                        font-family: $main_font;
                    }
                    & > .desc {

                    }
                    & > a {
                        font-family: $sec_font;
                        color: $yellow_buttons;
                        text-decoration: none;
                        margin-right: 1em;
                    }
                    & > .tools {
                        font-style: italic;
                        // padding-bottom: 1em;
                    } 
                }
            }
        }
    }
}
.right {
    margin-left: 30%;
    padding: 1em;
    width: 70%;
    min-height: 100%;
    background-color: $gray_regfont;
    color: $white_links;
    font-family: $main_font;
    animation: slideFromBottom 1.5s ease;
    & > .more, .tech {
        font-family: $main_font;
        font-size: 3em;
        font-weight: bold;
        & > i {
            color: $yellow_buttons;
        }
    }
    // & > div i {
    //     color: $yellow_buttons;
    // }
    & > div p {
        margin-left: 3.5em;
        font-weight: normal !important;
        font-size: 1rem;
        font-family: $sec_font;
        color: $yellow_buttons;
    }
}
.right-about,
.right-goals {
    // column-count: 3;
    text-align: center;
    font-size: 1rem !important;
    color: $yellow_buttons;
    // margin-left: 3.5em;
    font-family: $sec_font;
    font-weight: normal !important;
    // & > div {
    // }
    & > div p {
        margin: 0 !important;
        font-family: $main_font;
        font-size: 1.5rem;
        font-weight: bold !important;
        color: $white_links;
    }
}
span {
    font-weight: bold;
    color: $blue_highlights;
    & > a {
        color: $blue_highlights;
    }
}
.toolsList {
    font-size: 1rem;
    color: $yellow_buttons;
    margin-left: 3.5em;
    & > .cols {
        font-weight: normal !important;
        font-family: $sec_font;
        column-count: 5;
        font-size: medium;
        & > span {
            color: $yellow_buttons;
            font-weight: normal;
        }
    }
}
// .goals {
//     margin-top: .5em;
//     & > p {
//         font-size: medium !important;
//     }
// }


@media screen 
    and (max-width: 800px) {
        .left {
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
        }
        .right {
            width: 100%;
            margin-left: 0;
            font-size: .5rem;
            text-align: center;
        }
        .p-name {
            font-size: 1rem;
        }
        .desc-container {
            bottom: -5px;
        }
        .toolsList {
            margin: .25em;
            & > .cols {
                column-count: 2;
                font-size: .75rem;
                text-align: center;
            }
        }
    }

/* KEYFRAMES */
@keyframes slideFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    0% {
        // transform: translateY(75%);
        opacity: 0;
    }
    100% {
        // transform: translateY(0);
        opacity: 1;
    }
}